.box00 {
    /* div 青枠 */
    position: relative;
    display: inline-flexbox;
    width: 1000px;
    background-color: rgb(207, 223, 227);
    margin: 0 auto;
    border: 10px solid rgba(0, 0, 108, 0.2);
    height: 520px;
}


.requestForm {
    /* label => 依頼書作製サイト */
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 1px rgb(9, 2, 107);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: aliceblue;
    font-size: 200%;
}

.dateNow {
    /* p => 日にち表示 */
    position: absolute;
    top: 3%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: large;
}

.requestinfo {
    /* label => 依頼元情報 */
    position: absolute;
    top: 14%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 150%;
}

.requesterInfo {
    /* label => 依頼会社＆種類 */
    position: absolute;
    top: 22%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: large;
}

.company {
    /* select => 依頼種類選択 */
    position: absolute;
    top: 22%;
    left: 27%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    height: 30px;
}

.requesterInfoG {
    /* label => 依頼元Gr: */
    position: absolute;
    top: 22%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: large;
}

.requestergroup {
    /* select => グループ選択 */
    opacity: 0.25;
    position: absolute;
    top: 22%;
    left: 57%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    width: 180px;
    height: 30px;
}

.requesterinfo01 {
    /* label => 依頼者名 */
    position: absolute;
    top: 22%;
    left: 74%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: large;
}

.name {
    /* input => 入力 */
    position: absolute;
    top: 22%;
    left: 88%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px;
    width: 150px;
    border: 1px solid #ccc;
    height: 20px;
}

.receiveinfo {
    /* label => 依頼先情報 */
    position: absolute;
    top: 36%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 150%;
}

.receivegroup {
    /* label => 組 */
    position: absolute;
    top: 45%;
    left: 4%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: large;
}

.receiveselectgroup {
    /* select => 組選択 */
    position: absolute;
    top: 45%;
    left: 9%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    height: 30px;
}

.requestermonth {
    /* label => 依頼月： */
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: large;
}

.receiveselectmonth {
    /* select => 依頼月選択 */
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    height: 30px;
}

.desireddeliverydate {
    /* label => 希望納期： */
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: large;
}

.datepicker {
    /* input => 希望納期入力 */
    position: absolute;
    top: 45%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: large;
    height: 20px;
}

.artificial {
    /* label => 想定人工： */
    position: absolute;
    top: 45%;
    left: 59%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: large;
}

.human {
    /* input => 人数入力： */
    position: absolute;
    top: 45%;
    left: 66%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 20px;
}

.nin {
    /* label => 人 */
    position: absolute;
    top: 45%;
    left: 71%;
    transform: translate(-50%, -50%);
}

.time {
    /* input => 工数入力： */
    position: absolute;
    top: 45%;
    left: 77%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 20px;
}

.Hr {
    /* label => Hr / 日 */
    position: absolute;
    top: 45%;
    left: 84%;
    transform: translate(-50%, -50%);
}

.longdays {
    /* input => 日数入力： */
    position: absolute;
    top: 45%;
    left: 92%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 20px;
}

.nichi {
    /* label => 日 */
    position: absolute;
    top: 45%;
    left: 96%;
    transform: translate(-50%, -50%);
}

.totalkosu {
    /* button => 計算 */
    position: absolute;
    top: 53%;
    left: 77%;
    transform: translate(-50%, -50%);
    width: 60px;
}

.totalartificial {
    /* div => 合計工数表示 */
    position: absolute;
    top: 53%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    align-items: center;
}

.totaltime {
    /* label => Hr */
    position: absolute;
    top: 53.5%;
    left: 90%;
    transform: translate(-50%, -50%);
    font-size: 120%;
}


.checkbox {
    /* input => 項目チェック： */
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    width: 950px;
    background-color: rgb(188, 215, 224);
}

.send {
    /* 送信ボタン */
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    border: 3px solid rgba(0, 0, 0);
}
